<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="WebUI Test Suite" parallel="tests" thread-count="1">

    <!-- 配置文件 -->
    <parameter name="propertiesPath" value="src/test/resources/config/config.properties"/>

    <!-- 项目传参 -->
    <!-- 终端选择 pc 端 -->
    <parameter name="terminal" value="pc"/>
    <parameter name="browserName" value="chrome"/>

    <!-- 测试套件 -->
<!--    <suite-files>-->
<!--        &lt;!&ndash; wap &ndash;&gt;-->
<!--        <suite-file path="wap_testng.xml"/>-->
<!--    </suite-files>-->

    <!-- 监听器 -->
    <listeners>
        <!-- 断言监听器 -->
        <listener class-name="com.sh.stt.listener.AssertListener"/>
        <!-- 测试日志监听器 -->
        <listener class-name="com.sh.stt.listener.LogListener"/>
    </listeners>

    <test preserve-order="true" name="wap-selenium">
    <classes>

    <!--首页-->
    <class name="com.sh.stt.testcase.index.BJIndexTest">
        <methods>
            <include name="advBannerListTest"/>
            <include name="quickListTest"/>
        </methods>
    </class>
    </classes>
    </test>

</suite>